@model dbContext;
@{
    ViewData["Title"] = "Conferma";
}

<div class="text-center">
    <h1 class="display-4">Riepilogo</h1>
        <p>Sono stati registrati @Model.Prenotazioni.Count() utenti</p>
        @{
            foreach(var item in Model.Prenotazioni){
                <p> Nome: @item.Nome <br> Cognome @item.Cognome <br> Email: @item.Email <br> Data di nascita: @item.DataDiNascita <br> Sesso: @item._Sesso <br> Ruolo: @item._Ruolo</p>
            }
        }
</div>